<a href="https://colab.research.google.com/github/Sudhansu35/DMDW-assignment/blob/main/assignment%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Define a two dimensional. Concatenate both of them

In [1]:
import numpy as np
x = np.array([[1,2,3],[4,5,6]])
y = np.array([[11,12,13],[14,15,16]])
z = np.concatenate((x,y))
z

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [11, 12, 13],
       [14, 15, 16]])

Create a dataframe (3x4) with random integers with explicit indexing.Peform sin(df*pi/4) operation over the dataframe.Substract first value of the dataframe from each elements of the dataframe.Substract first row of the dataframe from each rows of the dataframe.

In [2]:
import pandas as pd
df = pd.DataFrame(np.random.randint(0,100,size = (3,4)),columns = ['A','B','C','D'])
print(df)
np.sin(df*np.pi/4)
first_value = df.iloc[0][0]
print(df.subtract(first_value,axis =1))
first_row = df.iloc[0]
print(df.subtract(first_row,axis=1))

    A   B   C   D
0   1  41  46  63
1  87  26  37  52
2  52  39  43  38
    A   B   C   D
0   0  40  45  62
1  86  25  36  51
2  51  38  42  37
    A   B  C   D
0   0   0  0   0
1  86 -15 -9 -11
2  51  -2 -3 -25

Write a python program to read a csv file using pandas dataframe then dislay the first 8 rows of the data and also display the last 7 rows of teh data.Get and display the data types used in this data.Get and display the unique values available under a particular attribute.

In [3]:
iris = pd.read_csv("iris.csv")
iris.head(8)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa